/* Styling for all pages */
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Outfit:wght@100;300&display=swap');

body{
    margin: 0;
    padding: 0;
    margin-top: 90px;
    font-family: Aoboshi One, sans-serif;
}
.nav {
    position: fixed;
    top: 0;
    background-color: #006554;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); 
}

.nav a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav a:hover:not(.active) {
    background-color: #292424;
}
.active {
    background-color: #292424;
}

.player-container {
  margin: 0px 215px;
  display: flex;
  flex-wrap: wrap;
}

.player-card {
    width: 210px;
    height: 310px;
    background-color: #1e1e1e;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
  }

.player-card h2 {
  font-size: 20px;
  font-family: Aoboshi One, sans-serif;
  padding-left: 5px;
  margin: 0px 0px;
}

.player-card p {
  font-size: 15px;
  font-family: helvetica;
  padding-left: 5px;
}

.player-card img {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    margin: 5px 5px;
}

.team-container {
  margin: 0px 215px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card {
  width: 400px;
  height: 450px;
  background-color: #006554;
  border-color: #1e1e1e;
  border-style: solid;
  border: 5px 5px;
  border-radius: 2px;
  display: block;
  margin: 5px 5px;
  color: white;
  text-align: center;
}

.team-card img {
  width: 300px;
  height: 300px;
  margin: 5px 5px;
  margin-top: 50px;
  border-color: #1e1e1e;
  border-style: solid;
  border: 5px 5px;
  border-radius: 2px;
}

.team-card h2 {
  font-family: Aoboshi One, sans-serif;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

